<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
       <div class="card">
         <div class="card-header">
            <h4>Login</h4>
         </div>
         <div class="card-form">
           <div class="form-row">
             <i class="material-icons">face</i>
             <mat-input-container color="accent">
               <input [(ngModel)]="loginUserData.username" name="username" type="text" matInput placeholder="Username"/>
             </mat-input-container>
           </div>
           <div class="form-row">
             <i class="material-icons">lock_outline</i>
             <mat-input-container color="accent">
               <input [(ngModel)]="loginUserData.password" name="password" type="password" matInput placeholder="Password"/>
             </mat-input-container>
           </div>
         </div>
         <div class="card-footer">
           <button mat-button (click)="login()">LET'S GO</button>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
