<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h4>Register</h4>
          </div>
          <div class="card-form">
            <div class="form-row">
              <i class="material-icons">face</i>
              <mat-input-container color="accent">
                <input [(ngModel)]="registerUserData.username" name="username" type="text" matInput placeholder="Username">
              </mat-input-container>
            </div>
            <div class="form-row">
              <i class="material-icons">lock_outline</i>
              <mat-input-container color="accent">
                <input [(ngModel)]="registerUserData.password" name="password" type="password" matInput placeholder="Password">
              </mat-input-container>
            </div>
            <div class="form-row">
              <i class="material-icons">devices_other</i>
              <mat-input-container color="accent">
                <input [(ngModel)]="registerUserData.mac_address" name="mac_address" type="text" matInput placeholder="Mac Address">
              </mat-input-container>
            </div>
          </div>
          <div class="row" style="display: flex; justify-content: center">
            <button (click)="register()" mat-raised-button class="btn btn-primary btn-round">GET STARTED</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>