<div class="container">
  <app-navbar title="GET"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">cloud_download</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">GET</h4>
          <form>
            <div class="row">
              <div class="col-md-12">
                <mat-input-container color="accent">
                  <input  disabled matInput type="text" placeholder="Input Token" name="token" value="{{token}}">
                </mat-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Data Type: </label>
                <mat-radio-group class="radio-data-group" [(ngModel)]="dataType" name="radio">
                  <mat-radio-button class="radio-data-button" *ngFor="let type of radioDataType" [value]="type">
                    {{type}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div *ngIf="dataType == 'Text'" class="row">
              <div class="col-md-12">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="Topic"  [(ngModel)]="topic" name="topic">
                </mat-input-container>
              </div>
            </div>
            <div class="row action-btn">
              <button (click)="getData()" mat-icon-button type="submit" color="accent">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">info</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">RESULT</h4>
          <div class="row">
            <div class="col-md-12">
              <label class="textarea-label">Result</label>
              <mat-input-container color="accent">
                <textarea matInput placeholder="" value="{{result}}"></textarea>
              </mat-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>