<div class="nav-bar">
  <div class="left-part">
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <mat-input-container color="#ff0000">
        <input matInput type="search" placeholder="Search">
      </mat-input-container>
      <button mat-mini-fab class="search-btn"><i class="material-icons" style="font-size:18px;">search</i></button>
      <button mat-icon-button><i class="material-icons icon-btn">dashboard</i></button>
      <app-msgiconbtn icon="notifications" number="5" ></app-msgiconbtn>
      <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons icon-btn">person</i></button>
      <mat-menu #menu="matMenu">
        <button mat-button disabled>Signed in as <strong>Admin</strong></button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div>
  </div>
</div>
