<div class="container">
  <app-navbar title="Manajemen User"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">people</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Users</h4>
          <div class="table-responsive">
            <div class="mat-elevation-z8">
              <div class="spinner-container" *ngIf="loading">
                  <mat-spinner></mat-spinner>                  
              </div>
              <mat-table [dataSource]="dataSource" matSort>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                </ng-container>

                <!-- Mac Address Column -->
                <ng-container matColumnDef="mac_address">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Mac Address </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.mac_address}} </mat-cell>
                </ng-container>

                <!-- Admin Column -->
                <ng-container matColumnDef="is_admin">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Admin </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.is_admin}} </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button (click)="editUser(element)" data-toggle="modal" data-target="#editUserModal" mat-icon-button color="primary">
                      <mat-icon aria-label="">edit</mat-icon>
                    </button>
                    <button (click)="deleteUser(element)" mat-icon-button color="warn">
                      <mat-icon aria-label="">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="userData.username" name="username">
            </div>
            <div class="form-group">
              <label for="mac_address" class="col-form-label">Mac Address:</label>
              <input type="text" class="form-control" id="mac_address" [(ngModel)]="userData.mac_address" name="mac_address">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="is_admin" [(ngModel)]="userData.is_admin" name="is_admin">
                <label class="form-check-label" for="is_admin">
                  Admin
                </label>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="editUserSave()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>